:root {
	--accent-color: #C12957;
	--main-color: #f0f6fc;
	--nuance-color: #0d1117;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #0d1117;
		--main-color: #E068A7;
		--nuance-color: #f0f6fc;
	}

	main article .nieuws p {
		color: var(--nuance-color);
	}
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: var(--accent-color);
	font-family: 'Roboto Slab', serif;
}

header {
	padding: 2rem 0;
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	text-align: center;
	color: var(--accent-color);
	font-size: 7rem;
    margin-bottom: 3rem;
}

header p {
	text-align: center;
	padding: 0 1rem;
	color: var(--nuance-color);
	max-width: 40rem;
}

h2 {
	font-size: 195%;
	color: var(--main-color);
	font-weight: bold;
	margin-bottom: .75rem;
}

a {
	color: var(--main-color);
	font-weight: bold;
	text-decoration: none;
}

p {
	color: var(--main-color);
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

main {
	padding: 1rem;
	display: flex;
    flex-flow: column;
    align-items: center;
}

main > aside {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

main > aside > div {
	width: 100%;
	margin-bottom: 0.5rem;
	display: flex;
}
main > aside > div > svg {
	margin-right: 0.25rem;
}


main svg {
	width: 1.5rem;
	height: 1rem;
}

main section:first-of-type {
	display: flex;
	justify-content: center;
	flex-flow: column;
	width: 100%;
}

main article {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 4rem;
}

main article .nieuws {
	display: flex;
	flex-flow: column wrap;
	width: 100vw;
}

main article p {
	margin-bottom: .5rem;
	line-height: 2;
}

main article time {
	font-weight: 700;
}

.datum {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	font-size: 90%;
	color: var(--main-color);
	margin-top: .25rem;
	margin-bottom: .25rem;
	order: -1;
}

.datum p {
	margin-right: .5rem;
}

.datum p::after {
	content: ",";
}

.datum p,
.datum time {
	text-align: left;
	line-height: 1.2;
}

.datum .weekdag {
	text-transform: capitalize;
}

.cirkel {
	width: 3rem;
    height: 3rem;
    border: solid 11px var(--main-color);
    border-radius: 3rem;
}

.cirkel-pad {
    border-left: dotted .5rem var(--main-color);
	margin: 1rem 0 1rem 1.95rem;
	flex: 1;
}

.puntje {
	display: none;
    flex-direction: column;
    max-width: 25vw;
    margin-left: auto;
}

/* niet-mini mobile */
@media (min-width: 25em) {
	.puntje {
		display: flex;
	}

	main article .nieuws {
		width: 70vw;
	}
}

/* Desktop */
@media (min-width: 50em) {
	header p {
		padding: 0 5vw;
	}

	main article .nieuws {
		margin-right: 2rem;
		margin-top: 1.2rem;
		width: 30vw;
	}

	main article p,
	main article h2,
	main article div:first-of-type {
		text-align: right;
		max-width: 50em;
	}

	.datum {
		width: 30vw;
		flex-flow: column nowrap;
		font-size: 170%;
		margin-left: 2rem;
		order: 0;
	}

	.puntje {
		margin-left: 0;
	}
}

/* Desktop + Dark mode */
@media (min-width: 50em) and (prefers-color-scheme: dark) {
	.datum time {
		color: var(--nuance-color);
	}
}